In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
#Let's get some data to play with. How about the NFL?
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [10]:
#Copy and read to get data
df = pd.read_clipboard()

In [11]:
df

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 9 columns):
Rank                9 non-null int64
Team                9 non-null object
GP                  9 non-null object
Won                 9 non-null int64
Lost                9 non-null int64
Tied                9 non-null int64
Pct.                9 non-null float64
First NFL Season    9 non-null int64
Division            9 non-null object
dtypes: float64(1), int64(5), object(3)
memory usage: 604.0+ bytes

In [13]:
#Lets see some specific data columns
DataFrame(df,columns=['Team','First NFL Season','GP'])

                   Team  First NFL Season     GP
0        Dallas Cowboys              1960    914
1     Green Bay Packers              1921  1,368
2  New England Patriots              1960    916
3         Chicago Bears              1920  1,402
4      Baltimore Ravens              1996    384
5        Miami Dolphins              1966    832
6     Minnesota Vikings              1961    902
7   San Francisco 49ers              1950  1,034
8       New York Giants              1925  1,337

In [14]:
#What happens if we ask for a column that doesn't exist?
DataFrame(df,columns=['Team','First NFL Season','GP','Stadium'])

                   Team  First NFL Season     GP  Stadium
0        Dallas Cowboys              1960    914      NaN
1     Green Bay Packers              1921  1,368      NaN
2  New England Patriots              1960    916      NaN
3         Chicago Bears              1920  1,402      NaN
4      Baltimore Ravens              1996    384      NaN
5        Miami Dolphins              1966    832      NaN
6     Minnesota Vikings              1961    902      NaN
7   San Francisco 49ers              1950  1,034      NaN
8       New York Giants              1925  1,337      NaN

In [15]:
#We can also assign value sto entire columns
df['Stadium']="Levi's Stadium"
df

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,Levi's Stadium
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,Levi's Stadium
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,Levi's Stadium
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,Levi's Stadium
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,Levi's Stadium
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,Levi's Stadium
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West,Levi's Stadium
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,Levi's Stadium

In [16]:
#Putting numbers for stadiums
df["Stadium"] = np.arange(9)
df

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,0
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,2
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,3
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,4
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,5
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,6
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West,7
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,8

In [17]:
#Adding a Series to a DataFrame
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [18]:
df['Stadium']=stadiums
df

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,AT&T Stadium
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,NaN
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,NaN
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,NaN
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,Levi's Stadium
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,NaN
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,NaN
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West,NaN
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,NaN

In [19]:
#We can also delete columns
del df['Stadium']
df

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East