In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))

In [3]:
df.head()

          0         1         2         3         4
0  0.499367  0.878973  0.629611  0.312773  0.158220
1  0.285652  0.315828  0.417478  0.464472  0.525057
2  0.335136  0.240157  0.139917  0.126058  0.619240
3  0.710725  0.515872  0.316908  0.395333  0.787279
4  0.068904  0.223079  0.538056  0.047428  0.583037

In [4]:
df

            0         1         2         3         4
0    0.499367  0.878973  0.629611  0.312773  0.158220
1    0.285652  0.315828  0.417478  0.464472  0.525057
2    0.335136  0.240157  0.139917  0.126058  0.619240
3    0.710725  0.515872  0.316908  0.395333  0.787279
4    0.068904  0.223079  0.538056  0.047428  0.583037
..        ...       ...       ...       ...       ...
329  0.303704  0.042306  0.354418  0.747414  0.309633
330  0.325176  0.619976  0.267919  0.103217  0.031351
331  0.367693  0.106144  0.757074  0.160146  0.887906
332  0.338221  0.801101  0.226089  0.316483  0.843311
333  0.245002  0.398008  0.877605  0.193264  0.137597

[334 rows x 5 columns]

In [5]:
type(df)
df.head()

          0         1         2         3         4
0  0.499367  0.878973  0.629611  0.312773  0.158220
1  0.285652  0.315828  0.417478  0.464472  0.525057
2  0.335136  0.240157  0.139917  0.126058  0.619240
3  0.710725  0.515872  0.316908  0.395333  0.787279
4  0.068904  0.223079  0.538056  0.047428  0.583037

In [6]:
df.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.470985    0.495193    0.485541    0.482599    0.501280
std      0.288697    0.273904    0.281826    0.294678    0.285154
min      0.003146    0.011095    0.001478    0.001100    0.000104
25%      0.210376    0.276029    0.252438    0.223222    0.268075
50%      0.428460    0.494867    0.450175    0.479981    0.494278
75%      0.733501    0.703782    0.731190    0.736834    0.738280
max      0.994442    0.990438    0.989363    0.999774    0.999218

In [7]:
df.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [8]:
df[0][0] = "Ashish"

In [9]:
df.head()

          0         1         2         3         4
0    Ashish  0.878973  0.629611  0.312773  0.158220
1  0.285652  0.315828  0.417478  0.464472  0.525057
2  0.335136  0.240157  0.139917  0.126058  0.619240
3  0.710725  0.515872  0.316908  0.395333  0.787279
4  0.068904  0.223079  0.538056  0.047428  0.583037

In [10]:
df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [11]:
df.columns

RangeIndex(start=0, stop=5, step=1)

In [12]:
df.to_numpy()

array([['Ashish', 0.8789730636596905, 0.6296109383980449,
        0.3127733484655988, 0.15821955505057916],
       [0.28565197492255656, 0.3158276532564299, 0.41747788523931917,
        0.46447189649939535, 0.5250565702180066],
       [0.33513610307894015, 0.24015675926468782, 0.13991746709034125,
        0.12605831194597217, 0.6192403414071765],
       ...,
       [0.36769270126082376, 0.10614409803321967, 0.7570737810421958,
        0.16014562467985505, 0.8879063158490443],
       [0.33822099167827, 0.8011012886501637, 0.22608862464298052,
        0.31648306009910787, 0.843310611281636],
       [0.24500239809960733, 0.39800772266915463, 0.8776046525771236,
        0.19326373090910043, 0.13759679766255828]], dtype=object)

In [13]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,Ashish,0.285652,0.335136,0.710725,0.068904,0.395617,0.848304,0.51741,0.100045,0.807245,...,0.917217,0.554964,0.212146,0.713735,0.0100322,0.303704,0.325176,0.367693,0.338221,0.245002
1,0.878973,0.315828,0.240157,0.515872,0.223079,0.732171,0.452536,0.803684,0.734523,0.509458,...,0.644095,0.241676,0.291031,0.0288237,0.89617,0.042306,0.619976,0.106144,0.801101,0.398008
2,0.629611,0.417478,0.139917,0.316908,0.538056,0.546427,0.252419,0.688833,0.346377,0.479339,...,0.100595,0.381957,0.853202,0.418309,0.847421,0.354418,0.267919,0.757074,0.226089,0.877605
3,0.312773,0.464472,0.126058,0.395333,0.0474283,0.558571,0.739515,0.296041,0.20854,0.137315,...,0.0725432,0.450177,0.254399,0.631676,0.647742,0.747414,0.103217,0.160146,0.316483,0.193264
4,0.15822,0.525057,0.61924,0.787279,0.583037,0.329132,0.257539,0.164963,0.391873,0.876699,...,0.585468,0.718337,0.000406399,0.517007,0.227288,0.309633,0.0313512,0.887906,0.843311,0.137597

In [14]:
df.sort_index(axis=0, ascending=False)

            0         1         2         3         4
333  0.245002  0.398008  0.877605  0.193264  0.137597
332  0.338221  0.801101  0.226089  0.316483  0.843311
331  0.367693  0.106144  0.757074  0.160146  0.887906
330  0.325176  0.619976  0.267919  0.103217  0.031351
329  0.303704  0.042306  0.354418  0.747414  0.309633
..        ...       ...       ...       ...       ...
4    0.068904  0.223079  0.538056  0.047428  0.583037
3    0.710725  0.515872  0.316908  0.395333  0.787279
2    0.335136  0.240157  0.139917  0.126058  0.619240
1    0.285652  0.315828  0.417478  0.464472  0.525057
0      Ashish  0.878973  0.629611  0.312773  0.158220

[334 rows x 5 columns]

In [15]:
df.sort_index(axis=1, ascending=False)

            4         3         2         1         0
0    0.158220  0.312773  0.629611  0.878973    Ashish
1    0.525057  0.464472  0.417478  0.315828  0.285652
2    0.619240  0.126058  0.139917  0.240157  0.335136
3    0.787279  0.395333  0.316908  0.515872  0.710725
4    0.583037  0.047428  0.538056  0.223079  0.068904
..        ...       ...       ...       ...       ...
329  0.309633  0.747414  0.354418  0.042306  0.303704
330  0.031351  0.103217  0.267919  0.619976  0.325176
331  0.887906  0.160146  0.757074  0.106144  0.367693
332  0.843311  0.316483  0.226089  0.801101  0.338221
333  0.137597  0.193264  0.877605  0.398008  0.245002

[334 rows x 5 columns]

In [16]:
df[0]

0        Ashish
1      0.285652
2      0.335136
3      0.710725
4      0.068904
         ...
329    0.303704
330    0.325176
331    0.367693
332    0.338221
333    0.245002
Name: 0, Length: 334, dtype: object

In [17]:
type(df[0])

pandas.core.series.Series

In [18]:
df2 = df.copy()

In [19]:
df2[0][0] = 103

C:\Users\Ashish\Anaconda3\envs\python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
df2

            0         1         2         3         4
0         103  0.878973  0.629611  0.312773  0.158220
1    0.285652  0.315828  0.417478  0.464472  0.525057
2    0.335136  0.240157  0.139917  0.126058  0.619240
3    0.710725  0.515872  0.316908  0.395333  0.787279
4    0.068904  0.223079  0.538056  0.047428  0.583037
..        ...       ...       ...       ...       ...
329  0.303704  0.042306  0.354418  0.747414  0.309633
330  0.325176  0.619976  0.267919  0.103217  0.031351
331  0.367693  0.106144  0.757074  0.160146  0.887906
332  0.338221  0.801101  0.226089  0.316483  0.843311
333  0.245002  0.398008  0.877605  0.193264  0.137597

[334 rows x 5 columns]

In [21]:
df

            0         1         2         3         4
0      Ashish  0.878973  0.629611  0.312773  0.158220
1    0.285652  0.315828  0.417478  0.464472  0.525057
2    0.335136  0.240157  0.139917  0.126058  0.619240
3    0.710725  0.515872  0.316908  0.395333  0.787279
4    0.068904  0.223079  0.538056  0.047428  0.583037
..        ...       ...       ...       ...       ...
329  0.303704  0.042306  0.354418  0.747414  0.309633
330  0.325176  0.619976  0.267919  0.103217  0.031351
331  0.367693  0.106144  0.757074  0.160146  0.887906
332  0.338221  0.801101  0.226089  0.316483  0.843311
333  0.245002  0.398008  0.877605  0.193264  0.137597

[334 rows x 5 columns]

In [22]:
df2 = df

In [23]:
df.loc[0,0] = 210

In [24]:
df.head(2)

          0         1         2         3         4
0       210  0.878973  0.629611  0.312773  0.158220
1  0.285652  0.315828  0.417478  0.464472  0.525057

In [25]:
df.columns = list("ABCDE")

In [26]:
df.head()

          A         B         C         D         E
0       210  0.878973  0.629611  0.312773  0.158220
1  0.285652  0.315828  0.417478  0.464472  0.525057
2  0.335136  0.240157  0.139917  0.126058  0.619240
3  0.710725  0.515872  0.316908  0.395333  0.787279
4  0.068904  0.223079  0.538056  0.047428  0.583037

In [27]:
df.loc[0,'A'] = 2101

In [28]:
df.head()

          A         B         C         D         E
0      2101  0.878973  0.629611  0.312773  0.158220
1  0.285652  0.315828  0.417478  0.464472  0.525057
2  0.335136  0.240157  0.139917  0.126058  0.619240
3  0.710725  0.515872  0.316908  0.395333  0.787279
4  0.068904  0.223079  0.538056  0.047428  0.583037

In [1]:
df = df.drop([0],axis=1)

NameError: name 'df' is not defined

In [30]:
df.head()

          A         B         C         D         E
0      2101  0.878973  0.629611  0.312773  0.158220
1  0.285652  0.315828  0.417478  0.464472  0.525057
2  0.335136  0.240157  0.139917  0.126058  0.619240
3  0.710725  0.515872  0.316908  0.395333  0.787279
4  0.068904  0.223079  0.538056  0.047428  0.583037

In [31]:
df.loc[(df['A']<0.3) & (df['C']>0.1)]

             A         B         C         D         E
1     0.285652  0.315828  0.417478  0.464472  0.525057
4     0.068904  0.223079  0.538056  0.047428  0.583037
8     0.100045  0.734523  0.346377  0.208540  0.391873
11     0.21441  0.384124  0.506217  0.567950  0.659563
16   0.0468807  0.416188  0.311461  0.851801  0.795443
..         ...       ...       ...       ...       ...
322  0.0849574  0.247073  0.252496  0.989859  0.414307
323  0.0921728  0.865261  0.895741  0.047788  0.442567
326   0.212146  0.291031  0.853202  0.254399  0.000406
328  0.0100322  0.896170  0.847421  0.647742  0.227288
333   0.245002  0.398008  0.877605  0.193264  0.137597

[103 rows x 5 columns]

In [32]:
df.head(2)

          A         B         C         D         E
0      2101  0.878973  0.629611  0.312773  0.158220
1  0.285652  0.315828  0.417478  0.464472  0.525057

In [33]:
df.iloc[0,4]

0.15821955505057916

In [34]:
df.iloc[[0,5], [1,2]]

          B         C
0  0.878973  0.629611
5  0.732171  0.546427

In [35]:
df.drop([0])

            A         B         C         D         E
1    0.285652  0.315828  0.417478  0.464472  0.525057
2    0.335136  0.240157  0.139917  0.126058  0.619240
3    0.710725  0.515872  0.316908  0.395333  0.787279
4    0.068904  0.223079  0.538056  0.047428  0.583037
5    0.395617  0.732171  0.546427  0.558571  0.329132
..        ...       ...       ...       ...       ...
329  0.303704  0.042306  0.354418  0.747414  0.309633
330  0.325176  0.619976  0.267919  0.103217  0.031351
331  0.367693  0.106144  0.757074  0.160146  0.887906
332  0.338221  0.801101  0.226089  0.316483  0.843311
333  0.245002  0.398008  0.877605  0.193264  0.137597

[333 rows x 5 columns]

In [36]:
df.drop(['A', 'D'], axis=1)

            B         C         E
0    0.878973  0.629611  0.158220
1    0.315828  0.417478  0.525057
2    0.240157  0.139917  0.619240
3    0.515872  0.316908  0.787279
4    0.223079  0.538056  0.583037
..        ...       ...       ...
329  0.042306  0.354418  0.309633
330  0.619976  0.267919  0.031351
331  0.106144  0.757074  0.887906
332  0.801101  0.226089  0.843311
333  0.398008  0.877605  0.137597

[334 rows x 3 columns]

In [65]:
df3 = pd.read_csv("pokemon.csv.txt")

In [66]:
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [41]:
df3.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [40]:
df3.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [45]:
df3.columns

Index(['#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary'], dtype='object')

In [69]:
df3.iloc[2]

#                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
Total              525
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object

In [70]:
df3.iloc[1:2]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

In [71]:
df3.sort_index(axis=0, ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [72]:
df3.loc[df3['Type 1'] == "Fire"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,250,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,310,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,309,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,316,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,484,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,534,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [74]:
df3.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [75]:
df3.sort_values(['Type 1', 'HP'], ascending=True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,244,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,266,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False

In [76]:
df3.sort_values(['Type 1', 'HP'], ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
142,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,290,Nincada,Bug,Ground,266,31,45,90,30,30,40,3,False
462,415,Combee,Bug,Flying,244,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False

In [83]:
df3['Total'] = df3['HP'] + df3['Attack'] + df3['Sp. Atk'] + df3['Sp. Def'] + df3['Speed']

In [84]:
df3.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,269,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,342,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,442,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,502,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,266,39,52,43,60,50,65,1,False

In [85]:
df3.drop(columns=['Total'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [86]:
df3.iloc[:,4:10].sum(axis=1)

0       542
1       687
2       887
3      1047
4       510
       ...
795    1000
796    1180
797    1070
798    1220
799    1010
Length: 800, dtype: int64

In [87]:
df3.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,269,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,342,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,442,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,502,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,266,39,52,43,60,50,65,1,False

In [89]:
df3.to_csv("modified.txt", index=False, sep='\t')

# filtering Data

In [93]:
df3.loc[df3['Type 1'] == "Grass"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,269,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,342,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,442,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,502,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,265,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,248,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,310,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,408,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,302,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,469,123,100,62,97,81,68,6,False

In [94]:
df3.loc[(df3['Type 1'] == "Grass") & (df3['Type 2'] == "Poison")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,269,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,342,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,442,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,502,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,265,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,325,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,405,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,265,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,340,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,425,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,355,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,245,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,450,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,249,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,394,114,85,70,85,80,30,5,False

In [106]:
df3.loc[(df3['Type 1'] == "Grass") & (df3['Type 2'] == "Poison") & (df3['HP']> 70)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,442,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,502,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,405,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,425,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,394,114,85,70,85,80,30,5,False

In [110]:
df3.reset_index()

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,3,Venusaur,Grass,Poison,442,80,82,83,100,100,80,1,False
1,1,3,VenusaurMega Venusaur,Grass,Poison,502,80,100,123,122,120,80,1,False
2,2,45,Vileplume,Grass,Poison,405,75,80,85,110,90,50,1,False
3,3,71,Victreebel,Grass,Poison,425,80,105,65,100,70,70,1,False
4,4,591,Amoonguss,Grass,Poison,394,114,85,70,85,80,30,5,False

In [111]:
df3.reset_index(drop=True, inplace=True)

In [112]:
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,442,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,502,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,405,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,425,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,394,114,85,70,85,80,30,5,False

In [114]:
df3.loc[df3['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,3,VenusaurMega Venusaur,Grass,Poison,502,80,100,123,122,120,80,1,False

In [115]:
df3 = pd.read_csv("pokemon.csv.txt")

In [116]:
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [117]:
df3.loc[df3['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,600,75,90,90,140,90,115,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,618,68,85,65,165,135,100,3,False
327,302,SableyeMega Sableye,Dark,Ghost,480,50,85,125,85,115,20,3,False
329,303,MawileMega Mawile,Steel,Fairy,480,50,105,125,55,95,50,3,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,510,60,100,85,80,85,100,3,False
339,310,ManectricMega Manectric,Electric,NaN,575,70,75,80,135,80,135,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,560,70,140,70,110,65,105,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False
387,354,BanetteMega Banette,Ghost,NaN,555,64,165,75,93,83,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
397,362,GlalieMega Glalie,Ice,NaN,580,80,120,80,120,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,580,65,136,94,54,96,135,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False
591,531,AudinoMega Audino,Normal,Fairy,545,103,60,126,80,126,50,5,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [140]:
df3.loc[df3['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'

In [141]:
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,flamer,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,flamer,Water,600,80,110,120,130,90,70,6,True

In [142]:
df3.loc[df3['Type 1'] == 'flamer', 'Legendary'] = True

In [143]:
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,flamer,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,flamer,Water,600,80,110,120,130,90,70,6,True

In [145]:
df3 = pd.read_csv("pokemon.csv.txt")
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [146]:
df3.loc[df3['Total'] > 500, ['Generation', 'Legendary']] = 'Test value'

In [147]:
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test value,Test value
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Test value,Test value
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test value,Test value
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Test value,Test value
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test value,Test value
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test value,Test value
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Test value,Test value

In [148]:
df3.loc[df3['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']

In [149]:
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test 1,Test 2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Test 1,Test 2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test 1,Test 2
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Test 1,Test 2
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test 1,Test 2
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test 1,Test 2
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,Test 1,Test 2

# Aggregate Value (grouping by)

In [150]:
df3 = pd.read_csv("pokemon.csv.txt")
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [151]:
df3.groupby(['Type 1']).mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

In [153]:
df3.groupby(['Type 1']).mean().sort_values('Defense')

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148

In [155]:
df3.groupby(['Type 1']).mean().sort_values('Defense', ascending= False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408

In [156]:
df3.groupby(['Type 1']).sum()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,23080,26146,3925,4897,4880,3717,4471,4256,222,0.0
Dark,14302,13818,2071,2740,2177,2314,2155,2361,125,2.0
Dragon,15180,17617,2666,3588,2764,3099,2843,2657,124,12.0
Electric,15994,19510,2631,3040,2917,3961,3243,3718,144,4.0
Fairy,7642,7024,1260,1046,1117,1335,1440,826,70,1.0
Fighting,9824,11244,1886,2613,1780,1434,1747,1784,91,0.0
Fire,17025,23820,3635,4408,3524,4627,3755,3871,167,5.0
Flying,2711,1940,283,315,265,377,290,410,22,2.0
Ghost,15568,14066,2062,2361,2598,2539,2447,2059,134,2.0
Grass,24141,29480,4709,5125,4956,5425,4930,4335,235,3.0
Ground,11401,14000,2361,3064,2715,1807,2008,2045,101,4.0
Ice,10165,10403,1728,1746,1714,1861,1831,1523,85,2.0
Normal,31279,39365,7573,7200,5865,5470,6245,7012,299,2.0
Poison,7050,11176,1883,2091,1927,1692,1803,1780,71,0.0
Psychic,21706,27129,4026,4073,3858,5609,4918,4645,193,14.0
Rock,17280,19965,2876,4086,4435,2787,3321,2460,152,4.0
Steel,11957,13168,1761,2503,3412,1823,2177,1492,104,4.0
Water,33946,48211,8071,8305,8170,8379,7898,7388,320,4.0

In [157]:
df3.groupby(['Type 1']).count()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

In [159]:
df3['count'] = 1
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,1
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,1
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,1
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,1

In [160]:
df3.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64